<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>AideDeLaSyntaxeCréole</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">AideDeLaSyntaxeCréole</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="fr"><span class="anchor" id="top"></span>
<p><a class="nonexistent" href="./AideDesUtilisateurs.html">AideDesUtilisateurs</a> &gt; <a href="./AideDeL(27c389)dition.html">AideDeL'Édition</a> &gt; <a href="./AideDesInstructionsDeTraitement.html">AideDesInstructionsDeTraitement</a> &gt; <a href="./AideDeLaSyntaxeCr(c3a9)ole.html">AideDeLaSyntaxeCréole</a><p><strong><a class="http" href="http://www.wikicreole.org/">Créole</a></strong> est un nouveau balisage wiki - son but est de devenir <strong>la</strong> syntaxe wiki commune et de faciliter les échanges de contenus entre les différents moteurs de wiki.<p>Cette page présente les éléments les plus importants de la syntaxe créole. À chaque fois, on présente d'abord le balisage, puis son rendu par le wiki. Attention, certaines fonctions dépendent du paramétrage de votre wiki.<p>  <em>Cette page elle-même est écrite avec la syntaxe créole.</em>
<h1 id="Table_des_mati.2BAOg-res">Table des matières</h1>
<pre>**Table des matières** (jusqu'au 2e niveau)
&lt;&lt;TableOfContents(2)&gt;&gt;</pre><p><strong>Table des matières</strong> (jusqu'au 2e niveau) <div class="table-of-contents"><p class="table-of-contents-heading">Contents<ol><li>
<a href="#Table_des_mati.2BAOg-res">Table des matières</a></li><li>
<a href="#Titres">Titres</a></li><li>
<a href="#Mise_en_forme_du_texte">Mise en forme du texte</a></li><li>
<a href="#Hyperliens">Hyperliens</a><ol><li>
<a href="#Liens_internes">Liens internes</a></li><li>
<a href="#Liens_externes">Liens externes</a></li><li>
<a href="#A.2BAMk-viter_ou_limiter_la_cr.2BAOk-ation_automatique_de_liens">Éviter ou limiter la création automatique de liens</a></li></ol></li><li>
<a href="#Dessins">Dessins</a></li><li>
<a href="#Listes">Listes</a><ol><li>
<a href="#Listes_non_ordonn.2BAOk-es">Listes non ordonnées</a></li><li>
<a href="#Listes_ordonn.2BAOk-es">Listes ordonnées</a></li></ol></li><li>
<a href="#Filets_horizontaux">Filets horizontaux</a></li><li>
<a href="#Tables">Tables</a></li><li>
<a href="#Autres">Autres</a></li><li>
<a href="#Macros_et_variables">Macros et variables</a><ol><li>
<a href="#Macros">Macros</a></li><li>
<a href="#Variables">Variables</a></li></ol></li><li>
<a href="#Analyseurs">Analyseurs</a><ol><li>
<a href="#Affichage_tel_quel">Affichage tel quel</a></li><li>
<a href="#Coloration_syntaxique">Coloration syntaxique</a></li></ol></li></ol></div>
<h1 id="Titres">Titres</h1>
<pre>&lt;&lt;TableOfContents()&gt;&gt;

= titre de 1er niveau =
== titre de 2e niveau ==
=== titre de 3e niveau ===
==== titre de 4e niveau ====
===== titre de 5e niveau =====</pre><p><div class="table-of-contents"><p class="table-of-contents-heading">Contents</p><ol><li>
<a href="#titre_de_1er_niveau">titre de 1er niveau</a><ol><li>
<a href="#titre_de_2e_niveau">titre de 2e niveau</a><ol><li>
<a href="#titre_de_3e_niveau">titre de 3e niveau</a><ol><li>
<a href="#titre_de_4e_niveau">titre de 4e niveau</a><ol><li>
<a href="#titre_de_5e_niveau">titre de 5e niveau</a></li></ol></li></ol></li></ol></li></ol></li></ol></div></p>
<h1 id="titre_de_1er_niveau">titre de 1er niveau</h1>

<h2 id="titre_de_2e_niveau">titre de 2e niveau</h2>

<h3 id="titre_de_3e_niveau">titre de 3e niveau</h3>

<h4 id="titre_de_4e_niveau">titre de 4e niveau</h4>

<h5 id="titre_de_5e_niveau">titre de 5e niveau</h5>

<h1 id="Mise_en_forme_du_texte">Mise en forme du texte</h1>
<pre>* //mise en relief (italique)//
* **gras**
* **//gras italique//**, //**italique gras**//
* {{{chasse fixe}}}</pre><ul><li><em>mise en relief (italique)</em></li><li><strong>gras</strong></li><li><strong><em>gras italique</em></strong>, <em><strong>italique gras</strong></em></li><li><tt>chasse fixe</tt></li></ul>
<h1 id="Hyperliens">Hyperliens</h1>

<h2 id="Liens_internes">Liens internes</h2>
<pre>* [[PageD'Accueil]]
* [[AideDeL'Édition/SousPages]]
* [[/SousPages]]
* [[../PagesVoisines]]
* [[PageD'Accueil|Lien nommé]]
* [[#point_d_ancrage]]
* [[#point_d_ancrage|Description]]
* [[PageName#point_d_ancrage]]
* [[PageName#point_d_ancrage|Description]]
* [[attachment:nom_du_fichier.txt]]</pre><ul><li><a href="./PageD(27)Accueil.html">PageD'Accueil</a></li><li><a href="./AideDeL(27c389)dition(2f)SousPages.html">AideDeL'Édition/SousPages</a></li><li><a class="nonexistent" href="./AideDeLaSyntaxeCr(c3a9)ole(2f)SousPages.html">/SousPages</a></li><li><a class="nonexistent" href="./PagesVoisines.html">../PagesVoisines</a></li><li><a href="./PageD(27)Accueil.html">Lien nommé</a></li><li><a class="nonexistent" href="./.html#point_d_ancrage">#point_d_ancrage</a></li><li><a class="nonexistent" href="./.html#point_d_ancrage">Description</a></li><li><a class="nonexistent" href="./PageName.html#point_d_ancrage">PageName#point_d_ancrage</a></li><li><a class="nonexistent" href="./PageName.html#point_d_ancrage">Description</a></li><li><a class="attachment nonexistent" href="" title="Upload new attachment &quot;nom_du_fichier.txt&quot;">attachment:nom_du_fichier.txt</a></li></ul>
<h2 id="Liens_externes">Liens externes</h2>
<pre>* http://moinmo.in/
* [[http://moinmo.in/]]
* [[http://moinmo.in/|Wiki MoinMoin]]
* [[http://static.moinmo.in/logos/moinmoin.png]]
* {{http://static.moinmo.in/logos/moinmoin.png}}
* [[http://static.moinmo.in/logos/moinmoin.png|moinmoin.png]]
* [[MeatBall:InterWiki|Page InterWiki sur MeatBall]]
* [[file://///nom_du_serveur/partage/chemin/complet/du/fichier/nom_du_fichier%20avec%20espaces.txt|lien vers un nom de fichier comportant des espaces.txt]]
* [[mailto:utilisateur@exemple.fr.invalid]]</pre><ul><li><a class="http" href="http://moinmo.in/">http://moinmo.in/</a></li><li><a class="http" href="http://moinmo.in/">http://moinmo.in/</a></li><li><a class="http" href="http://moinmo.in/">Wiki MoinMoin</a></li><li><a class="http" href="http://static.moinmo.in/logos/moinmoin.png">http://static.moinmo.in/logos/moinmoin.png</a></li><li><img alt="http://static.moinmo.in/logos/moinmoin.png" html_class="external_image" src="http://static.moinmo.in/logos/moinmoin.png" title="http://static.moinmo.in/logos/moinmoin.png" /></li><li><a class="http" href="http://static.moinmo.in/logos/moinmoin.png">moinmoin.png</a></li><li><a class="interwiki" href="http://www.usemod.com/cgi-bin/mb.pl?InterWiki" title="MeatBall">Page InterWiki sur MeatBall</a></li><li><a class="file" href="file://///nom_du_serveur/partage/chemin/complet/du/fichier/nom_du_fichier%20avec%20espaces.txt">lien vers un nom de fichier comportant des espaces.txt</a></li><li><a class="mailto" href="mailto:utilisateur@exemple.fr.invalid">mailto:utilisateur@exemple.fr.invalid</a></li></ul>
<h2 id="A.2BAMk-viter_ou_limiter_la_cr.2BAOk-ation_automatique_de_liens">Éviter ou limiter la création automatique de liens</h2>
<pre> * {{{http://www.exemple.fr.invalid}}}
 * ~http://www.exemple.fr.invalid/</pre><ul><li><tt>http://www.exemple.fr.invalid</tt></li><li>http://www.exemple.fr.invalid/</li></ul>
<h1 id="Dessins">Dessins</h1>
<pre>{{drawing:mon_exemple}}</pre><p><a class="nonexistent" href="" title="Create new drawing &quot;mon_exemple.tdraw (opens in new window)&quot;"><img alt="" height="32" src="/wiki_static/scilabTheme/img/attach.png" title="" width="32" /></a>
<h1 id="Listes">Listes</h1>

<h2 id="Listes_non_ordonn.2BAOk-es">Listes non ordonnées</h2>
<pre>* élément 1

* élément 2 (précédé d'une ligne blanche)
** élément 2.1
*** élément 2.1.1
* élément 3</pre><ul><li>élément 1</li></ul><ul><li>élément 2 (précédé d'une ligne blanche)<ul><li>élément 2.1<ul><li>élément 2.1.1</li></ul></li></ul></li><li>élément 3</li></ul>
<h2 id="Listes_ordonn.2BAOk-es">Listes ordonnées</h2>
<pre># élément 1
## élément 1.1
## élément 1.2
# élément 2</pre><ol><li>élément 1<ol><li>élément 1.1</li><li>élément 1.2</li></ol></li><li>élément 2</li></ol>
<h1 id="Filets_horizontaux">Filets horizontaux</h1>
<pre>----</pre><hr />
<h1 id="Tables">Tables</h1>
<pre>|=A |=B |=C |
| 1 | 2 | 3 |</pre><div><table><tbody><tr><th>A </th><th>B </th><th>C </th></tr>
<tr>  <td>1 </td>
  <td>2 </td>
  <td>3 </td>
</tr>
</tbody></table></div>
<h1 id="Autres">Autres</h1>
<pre>passage à la ligne\\forcé</pre><p>passage à la ligne<br>
forcé
<h1 id="Macros_et_variables">Macros et variables</h1>

<h2 id="Macros">Macros</h2>
<ul><li><tt>&lt;&lt;Anchor(nom_du_point_d_ancrange)&gt;&gt;</tt> insère un point d'ancrage nommée <tt>nom_du_point_d_ancrange</tt>.</li><li><tt>&lt;&lt;BR&gt;&gt;</tt> insère un passage à la ligne forcé.</li><li><tt>&lt;&lt;FootNote(Note)&gt;&gt;</tt> insère une note de pied de page contenant le texte «&amp;nbsp;Note&amp;nbsp;».</li><li><tt>&lt;&lt;Include(AideDesMacros/Include)&gt;&gt;</tt> insère directement le contenu de la page <tt>AideDesMacros/Include</tt> dans le document.</li><li><tt>&lt;&lt;MailTo(utilisateur AT exemple DOT fr DOT invalid)&gt;&gt;</tt> essaie de rendre l'adresse plus difficile à récolter automatiquement. L'adresse <tt>utilisateur@exemple.fr.invalid</tt> apparaîtra normalement aux utilisateurs connectés.</li></ul>
<h2 id="Variables">Variables</h2>
<ul><li>@SIG@ insère, lors de l'enregistrement des modifications, votre nom de compte et la date et l'heure de modification.</li><li>@TIME@ insère, lors de l'enregistrement des modifications, la date et l'heure de modification.</li></ul>
<h1 id="Analyseurs">Analyseurs</h1>

<h2 id="Affichage_tel_quel">Affichage tel quel</h2>
<pre>{{{
def bonjour():
    print "Bonjour, Monde !"
}}}</pre><pre>def bonjour():
    print "Bonjour, Monde !"</pre>
<h2 id="Coloration_syntaxique">Coloration syntaxique</h2>
<pre>{{{
#!python
def bonjour():
    print "Bonjour, Monde !"
}}}</pre><span class="anchor" id="line-1"></span><div class="highlight python"><div class="codearea" dir="ltr" lang="en">
<script type="text/javascript">
function isnumbered(obj) {
  return obj.childNodes.length && obj.firstChild.childNodes.length && obj.firstChild.firstChild.className == 'LineNumber';
}
function nformat(num,chrs,add) {
  var nlen = Math.max(0,chrs-(''+num).length), res = '';
  while (nlen>0) { res += ' '; nlen-- }
  return res+num+add;
}
function addnumber(did, nstart, nstep) {
  var c = document.getElementById(did), l = c.firstChild, n = 1;
  if (!isnumbered(c)) {
    if (typeof nstart == 'undefined') nstart = 1;
    if (typeof nstep  == 'undefined') nstep = 1;
    var n = nstart;
    while (l != null) {
      if (l.tagName == 'SPAN') {
        var s = document.createElement('SPAN');
        var a = document.createElement('A');
        s.className = 'LineNumber';
        a.appendChild(document.createTextNode(nformat(n,4,'')));
        a.href = '#' + did + '_' + n;
        s.appendChild(a);
        s.appendChild(document.createTextNode(' '));
        n += nstep;
        if (l.childNodes.length) {
          l.insertBefore(s, l.firstChild);
        }
        else {
          l.appendChild(s);
        }
      }
      l = l.nextSibling;
    }
  }
  return false;
}
function remnumber(did) {
  var c = document.getElementById(did), l = c.firstChild;
  if (isnumbered(c)) {
    while (l != null) {
      if (l.tagName == 'SPAN' && l.firstChild.className == 'LineNumber') l.removeChild(l.firstChild);
      l = l.nextSibling;
    }
  }
  return false;
}
function togglenumber(did, nstart, nstep) {
  var c = document.getElementById(did);
  if (isnumbered(c)) {
    remnumber(did);
  } else {
    addnumber(did,nstart,nstep);
  }
  return false;
}
</script>

<script type="text/javascript">
document.write('<a href="#" onclick="return togglenumber(\'CA-c38e2ef74df78a93f32f26278b85ff5ec577262c\', 1, 1);" \
                class="codenumbers">Toggle line numbers<\/a>');
</script>
<pre dir="ltr" id="CA-c38e2ef74df78a93f32f26278b85ff5ec577262c" lang="en"><span class="line"><span class="LineNumber"><a href="#CA-c38e2ef74df78a93f32f26278b85ff5ec577262c_1">   1</a> </span><span class="LineAnchor" id="CA-c38e2ef74df78a93f32f26278b85ff5ec577262c_1"></span><span class="anchor" id="line-1-1"></span><span class="ResWord">def</span> <span class="ID">bonjour</span>():</span>
<span class="line"><span class="LineNumber"><a href="#CA-c38e2ef74df78a93f32f26278b85ff5ec577262c_2">   2</a> </span><span class="LineAnchor" id="CA-c38e2ef74df78a93f32f26278b85ff5ec577262c_2"></span><span class="anchor" id="line-2"></span>    <span class="ResWord">print</span> <span class="String">"</span><span class="String">Bonjour, Monde !</span><span class="String">"</span></span>
</pre></div></div><hr /><p>Vous pouvez aussi consulter le <a class="http" href="http://www.wikicreole.org/attach/CheatSheet/creole_cheat_sheet.png">mémento Créole</a> (image PNG)<hr /><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:26
</body>
</html>
