<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Contributor - Signal processing blockset/report20120617</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">Contributor - Signal processing blockset/report20120617</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><p class="line867">
<h2 id="Work_done_this_week:">Work done this week:</h2>
<span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line867">
<h3 id="A1.29_Created_the_fft_block.">1) Created the fft block.</h3>
<span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><p class="line874">The behavior of the fft function on a matrix is different in Scilab from that in Matlab and Octave. In Matlab and Octave, when a matrix is passed as argument to the fft function, it returns a matrix containing the fft of the columns of the matrix. <span class="anchor" id="line-6"></span>e.g.  <span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line867"><span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><span class="anchor" id="line-14"></span><pre><span class="anchor" id="line-1"></span>octave:1&gt; fft([1,2,3;4,5,6])
<span class="anchor" id="line-2"></span>ans =
<span class="anchor" id="line-3"></span>
<span class="anchor" id="line-4"></span>   5   7   9
<span class="anchor" id="line-5"></span>  -3  -3  -3</pre><span class="anchor" id="line-15"></span><p class="line874">The same answer is returned by Matlab too. Here, [5,-3] is the fft of [1,4]. [7 -3] is the fft of [2 5] and so on. <span class="anchor" id="line-16"></span>However, Scilab performs multidimensional fft. So, the answer returned by Scilab is different: <span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span><pre><span class="anchor" id="line-1-1"></span>--&gt;fft([1,2,3;4,5,6])
<span class="anchor" id="line-2-1"></span> ans  =
<span class="anchor" id="line-3-1"></span> 
<span class="anchor" id="line-4-1"></span>    21.  - 3. + 1.7320508i  - 3. - 1.7320508i  
<span class="anchor" id="line-5-1"></span>  - 9.     0                  0            </pre><span class="anchor" id="line-24"></span><p class="line874">For the fft block in dspblock, I've programmed according to the Matlab version of fft, to make the fft block in xcos analogous to the fft block in simulink. <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line867">
<h3 id="A2.29_Wrote_tests_using_assert_for_meanblock.2C_maxblock.2C_minblock.2C_rmsblock.2C_stdblock.2C_varianceblock.">2) Wrote tests using assert for meanblock, maxblock, minblock, rmsblock, stdblock, varianceblock.</h3>
<span class="anchor" id="line-27"></span><p class="line874">I'd posted on the Scilab-dev mailing lists about writing test functions for xcos blocks. Clement suggested I use importXcosDiagram, xcos_simulate and assert to write test functions. I did so accordingly. However, whenever I use assert, my Scilab interpreter stops functioning. See the following screenshot. Scilab doesn't exit on typing exit, and it doesn't return an error even if I type garbage. <span class="anchor" id="line-28"></span><span class="anchor" id="line-29"></span><p class="line867"><a class="attachment" href="attachments/Contributor(202d20)Signal(20)processing(20)blockset(2f)report20120617/assert_error.png" title="{{attachment:assert_error.png|Error upon using assert|width=100}}"><img alt="Error upon using assert" class="attachment" src="attachments/Contributor(202d20)Signal(20)processing(20)blockset(2f)report20120617/assert_error.png" title="Error upon using assert" width="100" /></a> <span class="anchor" id="line-30"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:26
</body>
</html>
