<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>HelpOnImages</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">HelpOnImages</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line867">
<h1 id="Working_With_Images">Working With Images</h1>
<span class="anchor" id="line-9"></span><p class="line867"><div class="table-of-contents"><p class="table-of-contents-heading">Contents<ol><li>
<a href="#Working_With_Images">Working With Images</a><ol><li>
<a href="#Basic">Basic</a></li><li>
<a href="#Page_Alignment">Page Alignment</a></li><li>
<a href="#Baseline_Alignment">Baseline Alignment</a></li><li>
<a href="#Image_as_a_Link_Button">Image as a Link Button</a></li><li>
<a href="#Thumbnail_of_an_Image">Thumbnail of an Image</a></li><li>
<a href="#Title_Text">Title Text</a></li></ol></li></ol></div> <span class="anchor" id="line-10"></span>
<h2 id="Basic">Basic</h2>
<span class="anchor" id="line-11"></span><p class="line862">If you just want to get an image on a page, simply upload the image file (using the 'Attachments' link). Then use <tt>&nbsp;{{attachment:image-name.png}}&nbsp;</tt> (where image-name.png is the name of your file).  Wherever you plop that code is where the image will be.  If you put it within a paragraph, it will be part of the flow of the paragraph. For tiny images, this might be fine, but be careful with big images, or your page will look odd. <span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><p class="line862">For example, if you put large image <tt>&nbsp;{{attachment:duckie.png}}&nbsp;</tt>into the middle of a paragraph, like this <img alt="duckie.png" class="attachment" src="attachments/HelpOnImages/duckie.png" title="duckie.png" /> , then that's exactly what you'll get.  However, be careful, because as you can see, the graphic can adversely effect your paragraph layout. But, a small image, like this fish [<img alt="fish.jpg" class="attachment" src="attachments/HelpOnImages/fish.jpg" title="fish.jpg" />], does not. <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><p class="line867">
<h2 id="Page_Alignment">Page Alignment</h2>
<span class="anchor" id="line-18"></span><p class="line867"><img align="left" alt="chair.jpg" class="attachment" src="attachments/HelpOnImages/chair.jpg" title="chair.jpg" /> <span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><p class="line867"><img align="right" alt="clock.jpg" class="attachment" src="attachments/HelpOnImages/clock.jpg" title="clock.jpg" /> <span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><p class="line862">This example uses a chair image that's aligned left.  Notice that paragraph text flows around it, so you can (for example) stagger images on the page.  Here is the code: <tt>&nbsp;{{attachment:chair.jpg||align="left"}}&nbsp;</tt> <span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><p class="line862">This example uses a clock image that's aligned right.  Notice that text flows around it.  Here is the code: <tt>&nbsp;{{attachment:clock.jpg||align="right"}}&nbsp;</tt> <span class="anchor" id="line-25"></span><span class="anchor" id="line-26"></span><p class="line874">Getting the image positioned on the page (and relative to your paragraphs) will take a bit of playing. I find placing the image-code above the paragraph gets it aligned perfectly with the paragraph in question. If you  <span class="anchor" id="line-27"></span><a class="action" href="./HelpOnImages.html?action=raw">view the source</a> of this page, you'll see that I have both image-codes at the start of this section. <span class="anchor" id="line-28"></span><span class="anchor" id="line-29"></span><p class="line867">
<h2 id="Baseline_Alignment">Baseline Alignment</h2>
<span class="anchor" id="line-30"></span><p class="line874">Using a pineapple can as an example, the following are examples of aligning an image on inline within the text baseline: <span class="anchor" id="line-31"></span><div><table><tbody><tr>  <td style="text-align: right"><p class="line862"> This is top: <img align="top" alt="pineapple.jpg" class="attachment" src="attachments/HelpOnImages/pineapple.jpg" title="pineapple.jpg" />      </td>
  <td style="vertical-align: top"><p class="line862"> <tt>&nbsp;{{attachment:pineapple.jpg||align="top"}}&nbsp;</tt> </td>
</tr>
<tr>  <td style="text-align: right"><span class="anchor" id="line-32"></span><p class="line862"> This is middle: <img align="middle" alt="pineapple.jpg" class="attachment" src="attachments/HelpOnImages/pineapple.jpg" title="pineapple.jpg" /> </td>
  <td><p class="line862"> <tt>&nbsp;{{attachment:pineapple.jpg||align="middle"}}&nbsp;</tt> </td>
</tr>
<tr>  <td style="text-align: right"><span class="anchor" id="line-33"></span><p class="line862"> This is bottom: <img align="bottom" alt="pineapple.jpg" class="attachment" src="attachments/HelpOnImages/pineapple.jpg" title="pineapple.jpg" /> </td>
  <td style="vertical-align: bottom"><p class="line862"> <tt>&nbsp;{{attachment:pineapple.jpg||align="bottom"}}&nbsp;</tt> </td>
</tr>
</tbody></table></div><span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><p class="line867">
<h2 id="Image_as_a_Link_Button">Image as a Link Button</h2>
<span class="anchor" id="line-36"></span><p class="line862">Here's an example of using an image as a button. Or, in this case, a button as a button. <a href="./HelpOnEditing.html" target="_blank"><img alt="HelpOnEditing" class="attachment" src="attachments/HelpOnImages/button.png" title="HelpOnEditing" /></a> As you can see from the example code, this link will open in a new window.  If you don't need it to, simply eliminate the <tt>|target="_blank"</tt> part. Alternatively, you can even replace the <tt>HelpOnEditing</tt> part with any valid link, including external URL's. <br>
 <tt>&nbsp;[[HelpOnEditing|{{attachment:button.png}}|target="_blank"]]&nbsp;</tt> <span class="anchor" id="line-37"></span><span class="anchor" id="line-38"></span><p class="line867">
<h2 id="Thumbnail_of_an_Image">Thumbnail of an Image</h2>
<span class="anchor" id="line-39"></span><span class="anchor" id="line-40"></span><p class="line874">If you have a large image that you don't necessarily want/need to display at once, create a thumbnail preview. When the reader clicks the image, they'll get the original enlarged version. You only need to specify either width or height, and the image will automatically scale in proportion. <span class="anchor" id="line-41"></span><span class="anchor" id="line-42"></span><ul><li style="list-style-type:none"><p class="line891"><a class="attachment" href="attachments/HelpOnImages/Grand_Tetons.jpg" title="{{attachment:Grand_Tetons.jpg||width=100}}"><img alt="attachment:Grand_Tetons.jpg" class="attachment" src="attachments/HelpOnImages/Grand_Tetons.jpg" title="attachment:Grand_Tetons.jpg" width="100" /></a> <span class="anchor" id="line-43"></span><span class="anchor" id="line-44"></span></li></ul><p class="line874">The code: <span class="anchor" id="line-45"></span><tt>&nbsp;[[attachment:Grand_Tetons.jpg|{{attachment:Grand_Tetons.jpg||width=100}}]]&nbsp;</tt> <span class="anchor" id="line-46"></span><span class="anchor" id="line-47"></span><p class="line867"><img align="right" alt="old alarm clock" class="attachment" src="attachments/HelpOnImages/clock.jpg" title="old alarm clock" /> <span class="anchor" id="line-48"></span>
<h2 id="Title_Text">Title Text</h2>
<span class="anchor" id="line-49"></span><span class="anchor" id="line-50"></span><p class="line862">Optionally, you may add an <a class="http" href="http://www.w3.org/TR/html4/struct/global.html#h-7.4.3">title text</a> to any image link, and it will display when you hover the mouse over the image (the image being rendered or not). To do so, simply put the text in the second argument: <tt>&nbsp;{{attachment:fish.jpg|A&nbsp;little&nbsp;tiny&nbsp;fish!}}&nbsp;</tt> to generate  <img alt="A little tiny fish!" class="attachment" src="attachments/HelpOnImages/fish.jpg" title="A little tiny fish!" />.  <span class="anchor" id="line-51"></span><span class="anchor" id="line-52"></span><p class="line862">Title Text can be combined with any of the examples described on this page. Simply put it between the double pipe (<tt class="backtick">||</tt>) in the link.  Borrowing from the example above, here is the clock again with an added description: <tt>&nbsp;{{attachment:clock.jpg|old&nbsp;alarm&nbsp;clock|align="right"}}&nbsp;</tt> <span class="anchor" id="line-53"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:27
</body>
</html>
