<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>howto/use this wiki/mathml</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">howto/use this wiki/mathml</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><p class="line867">
<h2 id="MathML_Plugin_example">MathML Plugin example</h2>
<span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><p class="line874">Following code : <span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><p class="line867"><span class="anchor" id="line-6"></span><pre><span class="anchor" id="line-1"></span>Suppose {{{`ax^2+bx+c=0`</pre><p class="line862"> and <tt>`a!=0`</tt>. We first divide by <tt>`a`&nbsp;to&nbsp;get&nbsp;{{{`x^2+b/ax+c/a=0`</tt>.<span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><p class="line862">Then we complete the square and obtain <tt>`x^2+b/ax+(b/(2a))^2-(b/(2a))^2+c/a=0`</tt>. <span class="anchor" id="line-9"></span>The first three terms factor to give <tt>`(x+b/(2a))^2=(b^2)/(4a^2)-c/a`</tt>. <span class="anchor" id="line-10"></span>Now we take square roots on both sides and get <tt>`x+b/(2a)=+-sqrt((b^2)/(4a^2)-c/a)`</tt>. <span class="anchor" id="line-11"></span><span class="anchor" id="line-12"></span><span class="anchor" id="line-13"></span><p class="line862">Finally we move the <tt>`b/(2a)`</tt> to the right and simplify to get  <span class="anchor" id="line-14"></span>the two solutions: <tt>`x_(1,2)=(-b+-sqrt(b^2-4ac))/(2a)`</tt> <span class="anchor" id="line-15"></span>}}} <span class="anchor" id="line-16"></span>give : <span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><p class="line862">Suppose <tt>`ax^2+bx+c=0`</tt> and <tt>`a!=0`</tt>. We first divide by <tt>`a`</tt> to get <tt>`x^2+b/ax+c/a=0`</tt>. <span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><p class="line862">Then we complete the square and obtain <tt>`x^2+b/ax+(b/(2a))^2-(b/(2a))^2+c/a=0`</tt>. <span class="anchor" id="line-21"></span>The first three terms factor to give <tt>`(x+b/(2a))^2=(b^2)/(4a^2)-c/a`</tt>. <span class="anchor" id="line-22"></span>Now we take square roots on both sides and get <tt>`x+b/(2a)=+-sqrt((b^2)/(4a^2)-c/a)`</tt>. <span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span><p class="line862">Finally we move the <tt>`b/(2a)`</tt> to the right and simplify to get  <span class="anchor" id="line-26"></span>the two solutions: <tt>`x_(1,2)=(-b+-sqrt(b^2-4ac))/(2a)`</tt> <span class="anchor" id="line-27"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:27
</body>
</html>
