<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>WikiCourse/22 Parsers</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">WikiCourse/22 Parsers</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span><p class="line867"><table class="navigation"><tr><td><a href="./WikiCourse(2f)22(20)Parsers.html?action=print&amp;media=projection">Slideshow</a> <a href="./WikiCourse.html">^</a>  <a href="./WikiCourse(2f)01(20)What(20)is(20)a(20)MoinMoin(20)wiki(3f).html">|&lt;</a>  <a href="./WikiCourse(2f)21(20)Macros.html">&lt;&lt;</a> Slide 21 of 27 <a href="./WikiCourse(2f)23(20)Actions.html">&gt;&gt;</a>  <a href="./WikiCourse(2f)52(20)Structure(20)in(20)the(20)wiki.html">&gt;|</a> </td></tr></table> <span class="anchor" id="line-11"></span>
<h1 id="Parsers">Parsers</h1>
<span class="anchor" id="line-12"></span><p class="line867">
<h2 id="Input">Input</h2>
<span class="anchor" id="line-13"></span><p class="line867"><span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><pre><span class="anchor" id="line-1"></span> {{{#!highlight python
<span class="anchor" id="line-2"></span> def hello(name):
<span class="anchor" id="line-3"></span>     print "Hello %s" % name
<span class="anchor" id="line-4"></span> }}}</pre><span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><p class="line867">
<h2 id="Display">Display</h2>
<span class="anchor" id="line-21"></span><p class="line867"><span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><span class="anchor" id="line-1-1"></span><div class="highlight python"><div class="codearea" dir="ltr" lang="en">
<script type="text/javascript">
function isnumbered(obj) {
  return obj.childNodes.length && obj.firstChild.childNodes.length && obj.firstChild.firstChild.className == 'LineNumber';
}
function nformat(num,chrs,add) {
  var nlen = Math.max(0,chrs-(''+num).length), res = '';
  while (nlen>0) { res += ' '; nlen-- }
  return res+num+add;
}
function addnumber(did, nstart, nstep) {
  var c = document.getElementById(did), l = c.firstChild, n = 1;
  if (!isnumbered(c)) {
    if (typeof nstart == 'undefined') nstart = 1;
    if (typeof nstep  == 'undefined') nstep = 1;
    var n = nstart;
    while (l != null) {
      if (l.tagName == 'SPAN') {
        var s = document.createElement('SPAN');
        var a = document.createElement('A');
        s.className = 'LineNumber';
        a.appendChild(document.createTextNode(nformat(n,4,'')));
        a.href = '#' + did + '_' + n;
        s.appendChild(a);
        s.appendChild(document.createTextNode(' '));
        n += nstep;
        if (l.childNodes.length) {
          l.insertBefore(s, l.firstChild);
        }
        else {
          l.appendChild(s);
        }
      }
      l = l.nextSibling;
    }
  }
  return false;
}
function remnumber(did) {
  var c = document.getElementById(did), l = c.firstChild;
  if (isnumbered(c)) {
    while (l != null) {
      if (l.tagName == 'SPAN' && l.firstChild.className == 'LineNumber') l.removeChild(l.firstChild);
      l = l.nextSibling;
    }
  }
  return false;
}
function togglenumber(did, nstart, nstep) {
  var c = document.getElementById(did);
  if (isnumbered(c)) {
    remnumber(did);
  } else {
    addnumber(did,nstart,nstep);
  }
  return false;
}
</script>

<script type="text/javascript">
document.write('<a href="#" onclick="return togglenumber(\'CA-82030bcde2bd6b17a51ae4a94605f333e5ad08a3\', 1, 1);" \
                class="codenumbers">Toggle line numbers<\/a>');
</script>
<pre dir="ltr" id="CA-82030bcde2bd6b17a51ae4a94605f333e5ad08a3" lang="en"><span class="line"><span class="LineNumber"><a href="#CA-82030bcde2bd6b17a51ae4a94605f333e5ad08a3_1">   1</a> </span><span class="LineAnchor" id="CA-82030bcde2bd6b17a51ae4a94605f333e5ad08a3_1"></span><span class="anchor" id="line-1-2"></span><span class="ResWord">def</span> <span class="ID">hello</span>(<span class="ID">name</span>):</span>
<span class="line"><span class="LineNumber"><a href="#CA-82030bcde2bd6b17a51ae4a94605f333e5ad08a3_2">   2</a> </span><span class="LineAnchor" id="CA-82030bcde2bd6b17a51ae4a94605f333e5ad08a3_2"></span><span class="anchor" id="line-2-1"></span>    <span class="ResWord">print</span> <span class="String">"</span><span class="String">Hello </span><span class="String">%s</span><span class="String">"</span> % <span class="ID">name</span></span>
</pre></div></div><span class="anchor" id="line-25"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:27
</body>
</html>
