<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>WikiCourse/17 External links</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">WikiCourse/17 External links</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span><span class="anchor" id="line-11"></span><p class="line867"><table class="navigation"><tr><td><a href="./WikiCourse(2f)17(20)External(20)links.html?action=print&amp;media=projection">Slideshow</a> <a href="./WikiCourse.html">^</a>  <a href="./WikiCourse(2f)01(20)What(20)is(20)a(20)MoinMoin(20)wiki(3f).html">|&lt;</a>  <a href="./WikiCourse(2f)16(20)Wiki(20)internal(20)links.html">&lt;&lt;</a> Slide 16 of 27 <a href="./WikiCourse(2f)18(20)Attachments.html">&gt;&gt;</a>  <a href="./WikiCourse(2f)52(20)Structure(20)in(20)the(20)wiki.html">&gt;|</a> </td></tr></table> <span class="anchor" id="line-12"></span>
<h1 id="External_links">External links</h1>
<span class="anchor" id="line-13"></span><p class="line874">You can, of course, also link to external content on the internet. <span class="anchor" id="line-14"></span><span class="anchor" id="line-15"></span><p class="line867">
<h2 id="Input">Input</h2>
<span class="anchor" id="line-16"></span><p class="line867"><span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span><span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span><span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span><span class="anchor" id="line-24"></span><pre><span class="anchor" id="WikiCourse.2F17_External_links.line-1"></span>http://example.net/
<span class="anchor" id="WikiCourse.2F17_External_links.line-2"></span>
<span class="anchor" id="WikiCourse.2F17_External_links.line-3"></span>[[http://moinmoin.in/|MoinMoin Wiki]]
<span class="anchor" id="WikiCourse.2F17_External_links.line-4"></span>
<span class="anchor" id="WikiCourse.2F17_External_links.line-5"></span>ftp://example.org/pub/
<span class="anchor" id="WikiCourse.2F17_External_links.line-6"></span>
<span class="anchor" id="WikiCourse.2F17_External_links.line-7"></span>{{http://static.moinmo.in/logos/moinmoin.png}}</pre><span class="anchor" id="line-25"></span><p class="line867">
<h2 id="Display">Display</h2>
<span class="anchor" id="line-26"></span><span class="anchor" id="line-27"></span><p class="line867"><a class="http" href="http://example.net/">http://example.net/</a> <span class="anchor" id="line-28"></span><span class="anchor" id="line-29"></span><p class="line867"><a class="http" href="http://moinmoin.in/">MoinMoin Wiki</a> <span class="anchor" id="line-30"></span><span class="anchor" id="line-31"></span><p class="line867"><a class="ftp" href="ftp://example.org/pub/">ftp://example.org/pub/</a> <span class="anchor" id="line-32"></span><span class="anchor" id="line-33"></span><p class="line867"><img alt="http://static.moinmo.in/logos/moinmoin.png" class="external_image" src="http://static.moinmo.in/logos/moinmoin.png" title="http://static.moinmo.in/logos/moinmoin.png" /> <span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span><p class="line867"><img alt="(!)" height="15" src="/wiki_static/scilabTheme/img/idea.png" title="(!)" width="15" /> As you can see, <tt class="backtick">[[...]]</tt> sets a link to the target, <tt class="backtick">{{...}}</tt> embeds the target, which is especially useful for pictures. <span class="anchor" id="line-36"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:27
</body>
</html>
