<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>WikiCourse/18 Attachments</title>
<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="scilabTheme/css/common.css">
<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="scilabTheme/css/screen.css">
<link rel="stylesheet" type="text/css" media="print" charset="utf-8" href="scilabTheme/css/print.css">
<style type="text/css">
ul.pagetitle{
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
li.pagetitle{
  display: inline;
  margin: 0;
}
td.noborder {
  border: 0;
}
</style>
</head>
<body>
<table>
<tr>
<td class="noborder">
<img src="logo.png">
</td>
<td class="noborder">
<ul class="pagetitle">
<li class="pagetitle"><a class="backlink">WikiCourse/18 Attachments</a>
</ul>
<br><br>
[<a href="Contents.html">Contents</a>]&nbsp;[<a href="TitleIndex.html">TitleIndex</a>]&nbsp;[<a href="WordIndex.html">WordIndex</a>]&nbsp;
</td>
</tr>
</table>
<hr>
<div id="page">
<div dir="ltr" id="content" lang="en"><span class="anchor" id="top"></span>
<span class="anchor" id="line-1"></span><span class="anchor" id="line-2"></span><span class="anchor" id="line-3"></span><span class="anchor" id="line-4"></span><span class="anchor" id="line-5"></span><span class="anchor" id="line-6"></span><span class="anchor" id="line-7"></span><span class="anchor" id="line-8"></span><span class="anchor" id="line-9"></span><span class="anchor" id="line-10"></span><p class="line867"><table class="navigation"><tr><td><a href="./WikiCourse(2f)18(20)Attachments.html?action=print&amp;media=projection">Slideshow</a> <a href="./WikiCourse.html">^</a>  <a href="./WikiCourse(2f)01(20)What(20)is(20)a(20)MoinMoin(20)wiki(3f).html">|&lt;</a>  <a href="./WikiCourse(2f)17(20)External(20)links.html">&lt;&lt;</a> Slide 17 of 27 <a href="./WikiCourse(2f)19(20)Symbols.html">&gt;&gt;</a>  <a href="./WikiCourse(2f)52(20)Structure(20)in(20)the(20)wiki.html">&gt;|</a> </td></tr></table> <span class="anchor" id="line-11"></span>
<h1 id="Attachments">Attachments</h1>
<span class="anchor" id="line-12"></span><p class="line862">With <a href="./MoinMoin.html">MoinMoin</a> you can directly append files to a wiki page. <span class="anchor" id="line-13"></span><span class="anchor" id="line-14"></span><p class="line867">
<h2 id="Input">Input</h2>
<span class="anchor" id="line-15"></span><p class="line867"><span class="anchor" id="line-16"></span><span class="anchor" id="line-17"></span><span class="anchor" id="line-18"></span><span class="anchor" id="line-19"></span><pre><span class="anchor" id="line-1"></span>[[attachment:letter.txt]]
<span class="anchor" id="line-2"></span>
<span class="anchor" id="line-3"></span>{{attachment:foto.jpg}}</pre><span class="anchor" id="line-20"></span><span class="anchor" id="line-21"></span><p class="line867">
<h2 id="Display">Display</h2>
<span class="anchor" id="line-22"></span><span class="anchor" id="line-23"></span><p class="line867"><a class="attachment" href="attachments/WikiCourse(2f)18(20)Attachments/letter.txt" title="">letter.txt</a> <span class="anchor" id="line-24"></span><span class="anchor" id="line-25"></span><p class="line867"><a class="nonexistent" href="" title="Upload new attachment &quot;foto.jpg&quot;"><img alt="" height="32" src="/wiki_static/scilabTheme/img/attach.png" title="" width="32" /></a> <span class="anchor" id="line-26"></span><span class="anchor" id="line-27"></span><p class="line867"><img alt="(!)" height="15" src="/wiki_static/scilabTheme/img/idea.png" title="(!)" width="15" /> As long as the files aren't uploaded: <span class="anchor" id="line-28"></span><ul><li>the links are grey (like links to non-existent wiki pages). <span class="anchor" id="line-29"></span></li><li>an alternate image, like a paper clip, is displayed for non-existent embedded pictures. <span class="anchor" id="line-30"></span><span class="anchor" id="line-31"></span></li></ul><p class="line874">You can click on it and upload the file from your computer's file system to the wiki using your browser. Then the design is regular and: <span class="anchor" id="line-32"></span><ul><li>links are blue. <span class="anchor" id="line-33"></span></li><li>the image appears. <span class="anchor" id="line-34"></span><span class="anchor" id="line-35"></span></li></ul><p class="line862">Further informations on <a href="./HelpOnActions(2f)AttachFile.html">HelpOnActions/AttachFile</a> <span class="anchor" id="line-36"></span><span class="anchor" id="bottom"></span></div>
</div>
<hr>
2022-09-08 09:27
</body>
</html>
